.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  margin: 5% 0;
  justify-content: center;
  padding: 1% 5%;
}
.add-product-btn{
    margin: 3% 0%;
}
.form-row {
    display: flex !important;
    border: 1px solid gray;
    margin: 2% 0;
    padding: 2% 0;
}
.form-row input{
    margin: 0 1%;
}
